{% extends '::base.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
        <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.records_list').dataTable( {
                    "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                    "oTableTools": {
                        "aButtons": [
                            {"sExtends":"copy","mColumns":"visible"},
                            {"sExtends":"xls","mColumns":"visible"},
                            {"sExtends":"pdf","mColumns":"visible"}
                        ],
                        "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                    },
                    "sPdfOrientation": "landscape",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page"
                    },
                    "aLengthMenu": [[10, 25, 50,100,200, -1], [10, 25, 50,100,200, "All"]]
                } );
            } );
        </script>
        <script type="text/javascript">
            {#{{ chart(chart) }}#}
        </script>
    {%  endblock %}

{% block right_content -%}

    <div class="container">
        <h1><small> Leave Reports </small></h1>

        <table class="records_list dataTable table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Sn.</th>
                <th>Employee Name </th>
                <th>Professional</th>
                <th>Leave</th>
                <th>Reason</th>
                <th>Days Spent</th>
                <th>Remaining Days</th>
                <th>Entitled <br>For Leave<br> Benefit</th>
                <th>Duty Post</th>
            </tr>
            </thead>
            <tbody>
            {% set incr=0 %}
            {% for result in results %}
                {% set incr = incr+1 %}
                <tr>
                    <td>{{ incr }}</td>
                    <td>{{ result.firstname }}  {{ result.middlename }} {{ result.surname }}</td>
                    <td>{{ result.profession }}</td>
                    <td>{{ result.history }}</td>
                    <td>{{ result.reason }}</td>
                    <td></td>
                    <td>6</td>
                    <td>{{ result.entitled_payment }}</td>
                    <td>{{ result.level5_facility }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div style="text-align: right">
        <a class="btn" href="{{ path('report_employeerecords_download', { 'organisationUnit': organisationUnit.id, 'formsId': formsId, 'withLowerLevels': withLowerLevels }) }}">
            Export to Excel
        </a>
        <a class="btn" href="{{ path('report_employeerecords_download_bycarde', { 'organisationUnit': organisationUnit.id, 'formsId': formsId, 'withLowerLevels': withLowerLevels }) }}">
            Export to Excel Order by Profession
        </a>
    </div>
{% endblock %}
