{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.quicksearch.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#hris_formbundle_fieldtype_childField').multiSelect({
                selectableHeader: "<input type='text' class='search-input' style=\"width:150px;\" autocomplete='off' placeholder='Search available Fields'>",
                selectionHeader: "<input type='text' class='search-input' style=\"width:150px;\" autocomplete='off' placeholder='Search selected Fields'>",
                afterInit: function(ms) {
                    var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function(e) {
                                if (e.which === 40) {
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function(e) {
                                if (e.which == 40) {
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                }
            });
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('commons/css/multi-select.css') }}">
{% endblock stylesheets %}

{% block right_content -%}
    <h1><i class="icon-edit icon-largest" title="Edit"></i><small>Field edit</small></h1>

    <form class="form-horizontal action="{{ path('field_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <div class="control-group">
            {{ form_label( edit_form.name,'Name', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.name ) }}
                {{ form_widget( edit_form.name ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.dataType,'Data Type', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.dataType ) }}
                {{ form_widget( edit_form.dataType ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.inputType,'Input Type', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.inputType ) }}
                {{ form_widget( edit_form.inputType ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.caption,'Caption', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.caption ) }}
                {{ form_widget( edit_form.caption ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.description,'Description', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.description ) }}
                {{ form_widget( edit_form.description ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.compulsory,'Compulsory in Data Entry', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.compulsory ) }}
                {{ form_widget( edit_form.compulsory ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.isUnique,'Captures unique record', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.isUnique ) }}
                {{ form_widget( edit_form.isUnique ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.hashistory,'Has History data', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.hashistory ) }}
                {{ form_widget( edit_form.hashistory ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.hastarget,'Has Indicator Target', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.hastarget ) }}
                {{ form_widget( edit_form.hastarget ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.skipInReport,'Ignore/Skip in Reports', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.skipInReport ) }}
                {{ form_widget( edit_form.skipInReport ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.isCalculated,'Deduced through calculation', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.isCalculated ) }}
                {{ form_widget( edit_form.isCalculated ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.fieldrelation,'Has Relation to other fields', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.fieldrelation ) }}
                {{ form_widget( edit_form.fieldrelation ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.calculatedExpression,'Relations to other fields', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.calculatedExpression ) }}
                {{ form_widget( edit_form.calculatedExpression ) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label( edit_form.childField,'Child Fields', {'label_attr': {'class': 'control-label'} } ) }}
            <div class="controls">
                {{ form_errors( edit_form.childField ) }}
                {{ form_widget( edit_form.childField ) }}
            </div>
        </div>

        {{ form_widget(edit_form) }}
        <br/>
        <ul class="record_actions inline" style="float:left;">
            <li>
                <button type="submit" class="btn">Edit</button>
            </li>
            <li>
                <a href="{{ path('field') }}" class="btn">
                    Back to the list
                </a>
            </li>
        </ul>
    </form>

    <ul class="inline" style="float:left;margin-top:-20px;">
        <li>
            <a data-toggle="modal" href="#deleteModalFor{{ entity.uid }}" class="btn btn-danger">Delete {{ entity.name | capitalize }}</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteModalFor{{ entity.uid }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Deleting {{ entity.name | capitalize }}</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete <strong>{{ entity.name | capitalize }}</strong> that was created on {{ entity.datecreated|date('d/m/Y') }}
                            {% if entity.lastUpdated %}
                                and last updated on {{ entity.lastUpdated|date('H:i:s d/m/Y') }} ??
                            {% else %}
                                and never updated ??
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <form action="{{ path('field_delete', { 'id': entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </li>


    </ul>
{% endblock %}
