{% extends '::base.html.twig' %}

{% block right_content -%}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/ext-all.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery-ui.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select#hris_trainingbundle_venue_region').change(function() {

                var fieldOptionUrl = '{{ path('district_formfields', {'_format':'json'}) }}';
                 $.ajax({
                    method:'POST',
                    url: fieldOptionUrl,
                    data:'id='+this.value,
                    success: (function(data) {
                        var select ="<label class='control-label required' for='hris_trainingbundle_venue_district'>District</label>";
                        select += "<select id='hris_trainingbundle_venue_district' name='hris_trainingbundle_venue[district]'>";
                        jQuery.each(data, function(index, value) {
                            select+="<option value='"+value['longname']+"'>"+value['longname']+"</option>";
                        });
                        select+="</select>"

                        $('#hris_trainingbundle_venue_district').parent().html(select);
                    })
                });
                var venueOptionUrl = '{{ path('venue_formfields', {'_format':'json'}) }}';

                $.ajax({
                    method:'POST',
                    url:venueOptionUrl,
                    data:'id='+this.value,
                    success: (function(data) {
                        var select ="<label class='control-label required' for='hris_trainingbundle_traininginstance_venue'>Venue</label>";
                        select += "<select id='hris_trainingbundle_traininginstance_venue' name='hris_trainingbundle_traininginstance[venue]'>";
                        jQuery.each(data, function(index, value) {
                            select+="<option value='"+value['venueName']+"'>"+value['venueName']+"</option>";
                        });
                        select+="</select>"

                        $('#hris_trainingbundle_traininginstance_venue').parent().html(select);
                    })
                });
            });

            $( ".date" ).datepicker( {
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonImage: "{{ asset('commons/images/calendar.gif') }}",
                buttonImageOnly: true,
                dateFormat: "dd/mm/yy",
                showAnim: "clip",
                yearRange:'c-60:c+60',
                onClose: function( selectedDate ) {
                    $( ".enddate" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( ".enddate" ).datepicker( {
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonImage: "{{ asset('commons/images/calendar.gif') }}",
                buttonImageOnly: true,
                dateFormat: "dd/mm/yy",
                showAnim: "clip",
                yearRange:'c-60:c+60',
                onClose: function( selectedDate ) {
                    $( ".date" ).datepicker( "option", "maxDate", selectedDate );
                }
            });

        });

    </script>

{% endblock javascripts %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" media="all" href="{{ asset('commons/css/ext-standard.css') }}">
     <link rel="stylesheet" href="{{ asset('commons/css/datepicker.css') }}" />
     <link rel="stylesheet" href="{{ asset('commons/css/jquery-ui.css') }}" />
 {% endblock stylesheets %}

    <div class="span12"><div class="span7"<h1> <h3><i class="icon-circle-info icon-largest" title="Show"></i>Adding Venues Lists</h3></h1></div></div>
    {% set queryParams = app.request.query.all %}
     {% if queryParams['instance_id'] is defined %}
        <form action="{{ path('venue_create',{'instance_id':queryParams['instance_id']}) }}" method="post" {{ form_enctype(form) }}>
        {% else %}
        <form action="{{ path('venue_create') }}" method="post" {{ form_enctype(form) }}>
        {% endif %}
        {{ form_widget(form) }}
        <br/>
        <ul class="trainig_actions inline" style="float:left;">
            <li>
                <button type="submit" class="btn">Register</button>
            </li>
            <li>
                {% if queryParams['instance_id'] is defined %}
                    <a href="{{ path('venue',{'instance_id':queryParams['instance_id']}) }}" class="btn">
                        Back to the list
                    </a>
                    <form action="{{ path('venue_create',{'instance_id':queryParams['instance_id']}) }}" method="post" {{ form_enctype(form) }}>
                {% else %}
                    <a href="{{ path('venues') }}" class="btn">
                        Back to the list
                    </a>
                {% endif %}

            </li>
        </ul>
    </form>

{% endblock %}
