{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.validate.js') }}"></script>

    <script type="text/javascript">
        function changeRelatedFieldOptions(uid) {
            window.childFields = [];
            window.selectedFieldOption={};
            window.childFieldIncrement = {};
            window.foundRelatedOptions='false';
            $.each( window.fieldOptionRelations, function( key, value ) {
                // Check if selected field is in parent field optiosn and related child fields are in loaded form
                if(value.parent_fielduid==uid && value.parent_fieldoptionuid==$('#'+uid).val() && $($( "td" ).find( "select#"+value.child_fielduid )).size() > 0 ) {
                    if(typeof(childFieldIncrement[value.child_fielduid]) ==='undefined' ) {
                        childFieldIncrement[value.child_fielduid]='cleared'; //Clear field options
                        $('#'+value.child_fielduid).find('option').remove();
                        $('#'+value.child_fielduid).append('<option value="'+value.child_fieldoptionuid+'">'+value.child_fieldoptionvalue+'</option>');
                    }else {
                        $('#'+value.child_fielduid).append('<option value="'+value.child_fieldoptionuid+'">'+value.child_fieldoptionvalue+'</option>');
                    }
                    window.foundRelatedOptions='true';
                }
                window.childFields.push(value.child_fielduid);
                window.childFields = $.unique(window.childFields);
            });
            if(window.foundRelatedOptions=='false') {
                //@todo setting of options of related fields should depend on values of parent field relation
                $.each( window.childFields, function( key, value ) {
                    var fieldUrl = "{{ path('api_fieldoption', { '_format': 'json'}) }}"+'?uid='+value;
                    var getFields = $.getJSON( fieldUrl, function( jsonFields ) {

                        $('#'+value).find('option').remove();
                        $.each( jsonFields, function( fieldKey, jsonField ) {
                            $('#'+value).append(new Option(jsonField.value, jsonField.uid));//Append field options to select tags
                        });
                    }).done(function(){
                        $('.dataentry').find('input, textarea,select').removeAttr('disabled');
                        $('#loadingMessage').remove();
                    }).error(function(){
                        $('#loadingMessage').remove();
                        $('#messageArea').html('<div class="alert alert-success" id="loadingMessage" style="color:#E92B2B;"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Error Occurred!</strong> Unable to get all options, please check your network connection</small></div>');
                    });
                });
            }
        }
        function updateOrganisationunits() {
            var userLevelUid='{{ user.getOrganisationunit().getOrganisationunitStructure().getLevel().getUid() }}';
            var organisationunitTreeUrl = '{{ path('organisationunit_tree', {'_format':'json'}) }}';
            var organisationunitsTagId='#organisationUnit';
            $(organisationunitsTagId).find('option').remove();
            if($('#level').val()==userLevelUid) {
                $(organisationunitsTagId).append(new Option("{{ user.getOrganisationunit().getLongname() }}", "{{ user.getOrganisationunit().getId() }}"));
                $(organisationunitsTagId).attr('disabled','disabled');
                $('#selectedOrganisationunit').val( "{{ user.getOrganisationunit().getUid() }}" );
            }else {
                $(organisationunitsTagId).removeAttr('disabled');
                getData={'id': {{ user.getOrganisationunit().getId() }} };
                $('#selectedOrganisationunit').val( $('#organisationUnit').val() );
                $.getJSON(organisationunitTreeUrl,getData , function( organisationunits ){
                    window.loadedOrganisationunits=organisationunits;
                    if (jQuery.isEmptyObject(organisationunits)){
                        $('#messageArea').html('<div class="alert alert-success" id="loadingMessage" style="color:#E92B2B;"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Error Occurred!</strong> Unable to get duty posts, please check your network connection</small></div>');
                    }else {
                        $(organisationunitsTagId).append(new Option('--[Select Duty post]--', '',true,true));
                        $.each(organisationunits, function(organisationunitIndex, organisationunit) {
                            $(organisationunitsTagId).append(new Option(organisationunit['longname'], organisationunit['uid']));
                        });
                    }
                }).done(function(){
                    if (jQuery.isEmptyObject(window.loadedOrganisationunits)){
                        $('#messageArea').html('<div class="alert alert-success" id="loadingMessage" style="color:#E92B2B;"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Error Occurred!</strong> Unable to get duty posts, please check your network connection</small></div>');
                    }
                    $('#loadingMessage').remove();
                }).error(function(){
                    $('#loadingMessage').remove();
                    $('#messageArea').html('<div class="alert alert-success" id="loadingMessage" style="color:#E92B2B;"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Error Occurred!</strong> Unable to get all options, please check your network connection</small></div>');
                });
            }
        }
        $( document ).ready(function() {
            //@todo all fields and options should be loaded once and processed by browser
            var fieldOptionRelationUrl = "{{ path('api_field_show', { '_format': 'json'}) }}";
            // Getting records values

            var getFields = $.getJSON( fieldOptionRelationUrl, function( jsonObject ) { window.fieldOptionRelations=jsonObject;}).done(function(){
            }).error(function(){
            });

            $('#htmlForm').find('input, textarea,select').attr('disabled','disabled');
            $('#messageArea').html('<div class="alert alert-success" id="loadingMessage"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Loading!</strong> Please wait..</small></div>');

            var selectItems = $( "td" ).find( "select" );//Get all select fields
            $.each( selectItems, function( key, value ) {
                var fieldUrl = "{{ path('api_fieldoption', { '_format': 'json'}) }}"+'?uid='+value.id;
                var getFields = $.getJSON( fieldUrl, function( jsonFields ) { //Get field options of all select fields
                    $('#'+value.id).append(new Option('--[Select '+value.name+']--', '',true,true));
                    $.each( jsonFields, function( fieldKey, jsonField ) {
                        $('#'+value.id).append(new Option(jsonField.value, jsonField.uid));//Append field options to select tags
                    });
                }).done(function(){
                    $('.dataentry').find('input, textarea,select').removeAttr('disabled');
                    $('#loadingMessage').remove();
                    // Insert values to fields
                    var recordValues;
                    try {
                        recordValues = $.parseJSON( '{{ entity.getValue() |json_encode() | replace({'\\r\\n': " "}) | raw }}' );
                    } catch (e) {
                        // error
                        $('#messageArea').html('<div class="alert alert-success" id="loadingMessage" style="color:#E92B2B;"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Error Occurred!</strong> Malformed record or contains bad characters.</small></div>');
                        console.log(recordValues);
                        return;
                    }
                    $.each( recordValues, function( fieldKey, fieldValue ) {
                        //If field is select, set selected else insert value
                        if($('#'+fieldKey).is('select')) {
                            $('#'+fieldKey+' option[value='+fieldValue+']').attr('selected','selected');
                        }else {
                            $('#'+fieldKey).val(fieldValue);
                            if($.type(fieldValue) == "object") {
                                $('#'+fieldKey).val( $.datepicker.formatDate( "dd/mm/yy", new Date( $.datepicker.parseDate("yy-mm-dd",fieldValue.date) ) ) );
                            };
                        }
                    });
                }).error(function(){
                    $('#loadingMessage').remove();
                    $('#messageArea').html('<div class="alert alert-success" id="loadingMessage"  )style="color:#E92B2B;"><button type="button" class="close" data-dismiss="alert">×</button><small><strong>Error Occurred!</strong> Unable to get all options, please check your network connection</small></div>');
                });
            });
            $("#dataEntryForm").validate({ ignore:[] });
            $( "#organisationUnit" ).change(function() {$('#selectedOrganisationunit').val( $('#organisationUnit').val() );});
        });
        $( ".date" ).datepicker( {
            changeMonth: true,
            changeYear: true,
            showOn: "both",
            buttonImage: "{{ asset('commons/images/calendar.gif') }}",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            showAnim: "clip",
            maxDate: "+0D",
            yearRange:'c-60:c+60'
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('commons/css/jquery-ui.css') }}" />
{% endblock stylesheets %}

{% block message_alert %}
    {% if message %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <small class="visible-phone"><strong>Success!</strong> {{ message }}</small>
            <small class="hidden-phone"><strong>Success!</strong> {{ message }}</small>
        </div>
    {% endif %}
{% endblock message_alert %}

{% block right_content -%}
    <h1><small>{{ formEntity.getTitle() | raw }}</small></h1>

    <form action="{{ path('record_update', { 'formid': formEntity.getId() }) }}" method="post">
        {% if entryLevel %}
            <em style="font-style: normal;padding-right:25px;">Select Duty Post Level</em>
            <select name="level"  id="level" required="required" onchange="updateOrganisationunits();">
                <option {% if entity.getOrganisationunit().getUid()==user.getOrganisationunit().getUid() %} selected="selected" {% endif %} value="{{ user.getOrganisationunit().getOrganisationunitStructure().getLevel().getUid() }}">{{ user.getOrganisationunit().getOrganisationunitStructure().getLevel().getName() }}</option>
                {% for organisationunitLevel in organisationunitLevels %}
                    <option {% if entity.getOrganisationunit().getOrganisationunitStructure().getLevel().getUid()==organisationunitLevel.getUid() %} selected="selected" {% endif %} value="{{ organisationunitLevel.level }}">{{ organisationunitLevel.name }}</option>
                {% endfor %}
            </select>
            <br />
            <em style="font-style: normal;min-width:350px;">Select Workstation/Facility</em>
            {% if entity.getOrganisationunit().getUid()==user.getOrganisationunit().getUid() %}
                <select name="organisationUnit" id="organisationUnit" disabled="disabled">
                    <option value="{{ user.getOrganisationunit().getUid() }}">{{ user.getOrganisationunit().getLongname() }}</option>
                </select>
            {% else %}
                <select name="organisationUnit" id="organisationUnit">
                    {% for organisationunit in organisationunits %}
                        <option {% if entity.getOrganisationunit().getUid()==organisationunit.getUid() %} selected="selected" {% endif %} value="{{ organisationunit.getUid() }}">{{ organisationunit.getLongname() }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <input name="selectedOrganisationunit" id="selectedOrganisationunit" type="hidden" required="required" value="{{ entity.getOrganisationunit().getUid() }}">
            <div id="htmlForm">
                {{ formEntity.getHypertext() | raw }}
            </div>
        {% else %}
            <input name="selectedOrganisationunit" id="selectedOrganisationunit" type="hidden" required="required" value="{{ entity.getOrganisationunit().getUid() }}">
            <div id="htmlForm">
                {{ formEntity.getHypertext() | raw }}
            </div>
        {% endif %}

        <div id="result" />
        </div>
        <p>
            <input type="hidden" name="formId" value="{{ formEntity.getId() }}">
            <input type="hidden" name="instance" value="{{ entity.getInstance() }}">
            <button name='Save' class="btn"> Save Records</button>
            <a href="{{ path('record_viewrecords', { 'formid': formEntity.getId() } ,'form') }}" class="btn">
                Back to the list
            </a>
            <a href="{{ path('record_form_list_updaterecords') }}" class="btn">
                Cancel
            </a>
        </p>
    </form>

    <div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Loading Data ...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>

{% endblock %}
