{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery-ui.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ asset('commons/js/jquery.validate.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {

            $(".childen_on_leave").hide();
            $('input[name=haschildren]').change(function(){
                if($(this).is(':checked')){
                    $(".childen_on_leave").fadeIn();
                }else{
                    $(".childen_on_leave").fadeOut();
                }
            })
            $( ".date" ).datepicker( {
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonImage: "{{ asset('commons/images/calendar.gif') }}",
                buttonImageOnly: true,
                dateFormat: "dd/mm/yy",
                showAnim: "clip",
                yearRange:'c-60:c+60'
            });
        });
    </script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('commons/css/jquery-ui.css') }}" />
{% endblock stylesheets %}

{% block message_alert %}
    {% if message %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <small class="visible-phone"><strong>Success!</strong> {{ message }}</small>
            <small class="hidden-phone"><strong>Success!</strong> {{ message }}</small>
        </div>
    {% endif %}
{% endblock message_alert %}

{% block right_content -%}
    <h1><small>Add New Leave Record for {{ employeeName }}</small></h1>
 {{ entity.getValue() }}
    <form class="form-horizontal" action="{{ path('employee_leave_create', { 'id': entity.getId }) }}" id="dataEntryForm" method="post">
        <div class="row-fluid">
            <div class="form-group">
                <div class="span6" style="padding-bottom: 10px">
                    <input type="hidden" name="empid" value="{{ entity.getId }}" />
                    Start Date <br> <input type="text" name="startdate1" class="date">
                </div>
                <div class="span6" style="padding-bottom: 10px">
                    End Date <br> <input type="text" name="enddate" class="date">
                </div>
            </div>

            <div class="form-group" >
                <div class="span6" style="padding-bottom: 10px">
                    Leave Destination <br> <input type="text" name="startdate">
                </div>
                <div class="span6" style="padding-bottom: 10px">
                    Reason <br> <input type="text" name="enddate">
                </div>
            </div>

            <h1><small>Address during leave</small></h1>
            <div class="form-group">
                <div class="span6" style="padding-bottom: 10px">
                    Phone <br> <input type="text" name="startdate">
                </div>
                <div class="span6" style="padding-bottom: 10px">
                    email <br> <input type="text" name="enddate">
                </div>
            </div>

            <div class="form-group">
                <div class="span6" style="padding-bottom: 10px">
                    Address <br> <input type="text" name="startdate">
                </div>
                <div class="span6" style="padding-bottom: 10px">
                    Payment Method <br>
                    <select name="daylimit">
                        <option value="" required>Select</option>
                        <option value="Cheque">Cheque</option>
                        <option value="Credited in Account">Credited in Account</option>
                        <option value="Advance Prior To Departure">Advance Prior To Departure</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                    <label><input type="checkbox" name="haschildren" > Children On Leave</label>
                <div class="childen_on_leave">
                    <div class="row-fluid">
                        <div class="span3">1st Chil</div>
                        <div class="span4">Name <br> <input type="text"></div>
                        <div class="span4">Age <br> <input type="text"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3">2nd Chil</div>
                        <div class="span4">Name <br> <input type="text"></div>
                        <div class="span4">Age <br> <input type="text"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3">3rd Chil</div>
                        <div class="span4">Name <br> <input type="text"></div>
                        <div class="span4">Age <br> <input type="text"></div>
                    </div>

                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="span6 offset-by-one" style="padding-bottom: 10px">
                    <input type="submit" value="Submit" class="btn btn-warning" >
                </div>
            </div>
        </div>
    </form>

{% endblock %}
