{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hrisrecords/js/dataentry.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {


           var dataTable =  $('.records_list')
                   .on( 'order.dt',  function () { $(".F_2").hide();$(".P_2").hide(); } )
                   .on( 'search.dt', function () { $(".F_2").hide();$(".P_2").hide(); } )
                   .on( 'page.dt',   function () { $(".F_2").hide();$(".P_2").hide(); } )
                   .dataTable({
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[10,50,100,-1], [ "10","50","100","All"]]
            } );


            dataTable.on("click", "tr td a", function() {
                var btn = $(this);
                var stsbn = $(this).parent().find(".P_2");
                var addF = $(this).parent().find(".add_facilitator");
                var addP = $(this).parent().find(".add_participant");
                var stsbn2 = $(this).parent().find(".F_2");
                if($(this).hasClass("add_participant")){
                    var instance_id = $(this).parent().parent().find("form.traininginstanceForm_add_participants input.hris_trainingbundle_instancerecord_instanceId").val();
                    var record_id = $(this).parent().parent().find("form.traininginstanceForm_add_participants input.hris_trainingbundle_instancerecord_recordId").val();
                    var url = "{{ path('participantRecord') }}";
                    $.ajax({
                        type:"POST",
                        url:url,
                        data: {"record_id":record_id,"instance_id":instance_id}
                    }).done(function (data) {
                        btn.hide();
                        addF.hide();
                        stsbn.show();
                    }).fail(function (jqXHR, textStatus) {

                    });
                }else{

                }
                if($(this).hasClass("add_facilitator")){
                    var instance_id = $(this).parent().parent().find("form.traininginstanceForm_add_facilitator input.hris_trainingbundle_instancerecord_instanceId").val();
                    var record_id = $(this).parent().parent().find("form.traininginstanceForm_add_facilitator input.hris_trainingbundle_instancerecord_recordId").val();
                    var url = "{{ path('addFacilitator') }}";
                    $.ajax({
                        type:"POST",
                        url:url,
                        data: {"record_id":record_id,"instance_id":instance_id}
                    }).done(function (data) {
                        btn.hide();
                        addP.hide();

                        stsbn2.show();
                    }).fail(function (jqXHR, textStatus) {

                    });
                }else{

                }

            });

        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}

{% block right_content -%}
    {% set queryParams = app.request.query.all %}

    <script>




    </script>
    <div class="container">
        <h1><small>{{ title }}</small></h1>
        <ul class="record_actions inline">
            {% if queryParams['instance_id'] is defined %}
            {% if queryParams['id'] is defined %}
                <li>
                    {% if queryParams['id'] == "facilitator"  %}
                        <a  href="{{ path("record_form_list_instanceRecord",{'instance_id':queryParams['instance_id'],'facilitator':'1'}) }}" class="btn btn-default" class="icon-left-arrow">&nbsp;back</a>

                    {% elseif queryParams['id'] == "partic_for_view"  %}
                        <a  href="{{ path("record_form_list_instanceRecord",{'instance_id':queryParams['instance_id'],'partic_for_view':'1'}) }}" class="btn btn-default" class="icon-left-arrow">&nbsp;back</a>

                    {% endif %}
                    {#<a  href="{{ path("record_form_list_instanceRecord",{'instance_id':queryParams['instance_id'],queryParams['id']:'1'}) }}" class="btn btn-default" class="icon-left-arrow">&nbsp;back</a>#}
                    {#<a  href="{{ path("record_form_list_instanceRecord",{'instance_id':queryParams['instance_id'],queryParams['id']:'1'}) }}" class="btn btn-default" class="icon-left-arrow">&nbsp;back</a>#}

                </li>
                {% else %}
                <li>
                    <a  href="{{ path("record_form_list_instanceRecord",{'instance_id':queryParams['instance_id']}) }}" class="btn btn-default" class="icon-left-arrow">&nbsp;back</a>

                </li>
                {% endif %}
            {% else %}
                <li>
                <a href="{{ path('record_new', { 'id': formid }) }}" class="btn">
                Add Record
                </a>
                </li>
                <li>
                <a href="{{ path('record_form_list') }}" class="btn">
                Back to Forms
                </a>
                </li>
            {% endif %}

        </ul>



        <table class="records_list dataTable table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Sn.</th>
                <th>Actions</th>
                {% for visibleField in visibleFields %}
                    {% if visibleField.caption in {'f':'First Name','m':'Middle Name','s':'Surname','a':'Age','p':'Profession','pe':'Profession Education Level'} %}
                        <th>{{ visibleField.caption }}</th>
                    {% endif %}

                {% endfor %}
                <th>Last updated</th>
                <th>Duty Post</th>

            </tr>
            </thead>
            <tbody>
             {% set incr=0 %}
            {% for record in records %}
                {% set incr = incr+1 %}
                <tr id = {{ record.uid }}>
                    <td>{{ incr }}</td>
                    <td style="text-align: center;padding-right: 10px;">
                        <ul class="inline" style="width:50px;">
                            {% if queryParams['instance_id'] is defined %}
                            <li style="text-align:center;">

                                <form name="hris_trainingbundle_instancerecord" method="post"  class="traininginstanceForm_add_participants" id="traininginstanceForm" role="form">
                                    <input type="hidden" id="hris_trainingbundle_instancerecord_instanceId" name="hris_trainingbundle_instancerecord[instanceId]" class="form-control hris_trainingbundle_instancerecord_instanceId" value="{{ queryParams['instance_id']}}">
                                    <input type="hidden" id="hris_trainingbundle_instancerecord_recordId" name="hris_trainingbundle_instancerecord[recordId]" class="form-control hris_trainingbundle_instancerecord_recordId" value="{{ record.id }}">
                                </form>
                                <form name="hris_trainingbundle_instancerecord" method="post"  class="traininginstanceForm_add_facilitator" id="traininginstanceForm" role="form">
                                    <input type="hidden" id="hris_trainingbundle_instancerecord_instanceId" name="hris_trainingbundle_instancerecord[instanceId]" class="form-control hris_trainingbundle_instancerecord_instanceId" value="{{ queryParams['instance_id']}}">
                                    <input type="hidden" id="hris_trainingbundle_instancerecord_recordId" name="hris_trainingbundle_instancerecord[recordId]" class="form-control hris_trainingbundle_instancerecord_recordId" value="{{ record.id }}">
                                </form>

                                <div class="btn-group" >
                                    {% if(record.id in record_ids) %}
                                        <span class="" title="Already a Participant"><i class="icon-ok icon-success"></i></span>
                                    {% else %}

                                        {% if(record.id in facilitator_ids) %}
                                            <span style="font-color:green;" class="" title="Already a Facilitator"><i class="icon-ok icon-success"></i></span>
                                        {% else %}

                                            <span class="P_2" title="Already a Participant"><i style="color:yellow;" class="icon-ok icon-success"></i></span>
                                            <span  class="F_2" title="Already a Facilitator"><i style="color:green;" class="icon-ok icon-success"></i></span>
                                           {% if queryParams['id'] is defined and queryParams['id'] == "facilitator" %}
                                               <a class="btn btn-mini add_facilitator" title="Add as Facilitator" ><i class="icon-plus-sign"></i></a>
                                           {% elseif queryParams['id'] is defined and  queryParams['id'] == "partic_for_view" %}
                                               <a class="btn btn-mini add_participant " title="Add as Participant" ><i class=" icon-plus "></i></a>
                                           {% else %}
                                            <a class="btn btn-mini add_participant " title="Add as Participant" ><i class=" icon-plus "></i></a>
                                            <a class="btn btn-mini add_facilitator" title="Add as Facilitator" ><i class="icon-plus-sign"></i></a>
                                           {% endif %}
                                        {% endif %}

                                        {% endif %}

                                </div>
                            </li>
                            {% else %}
                                    <li>
                                        <a href="{{ path('newInstance', { 'id': record.id }) }}"><i class="icon-folder-open icon-large" title="In service Training"></i></a>
                                    </li>

                            {% endif %}

                            </li>

                        </ul>
                    </td>
                    {% for visibleField in visibleFields %}
                        {% if visibleField.caption in {'f':'First Name','m':'Middle Name','s':'Surname','a':'Age','p':'Profession','pe':'Profession Education Level'} %}

                            {% if visibleField.getIsCalculated %}
                                <td>{{ record | calculateFieldExpression(visibleField.getCalculatedExpression,formFields) }}</td>
                            {% else %}
                                {% if visibleField.getInputType == 'Select' %}
                                    <td>
                                        {% if record.getValue( visibleField.uid ) in optionMap | keys %}
                                            {{ optionMap[ record.getValue( visibleField.uid ) ] }}
                                        {% else %}

                                        {% endif %}
                                    </td>
                                {% elseif visibleField.getInputType == 'Date' %}
                                    <td>{{ record.getValue( visibleField.uid ) | date('d/m/Y') }}</td>
                                {% else %}
                                    <td>{{ record.getValue( visibleField.uid ) }}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <td>{{ record.lastupdated| date('d/m/Y') }}</td>
                    <td>{{ record.organisationunit.longname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="showPopupModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Update Record Form</h4>
                </div>
                <div class="modal-body">

                    <select id="content_field" ondblclick="$('#showPopupModal').modal('hide')" name="content" size="10" style="width: 100%; height: 90%; font-family: 'Courier New',Courier,mono; font-size: 12px;" dir="ltr" wrap="soft">
                        {% for form in userForms %}

                            <option value="{{ form.id }}">{{ form.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <form action="" method="post">
                        <input type="hidden" class="btn btn-danger" name="_method" value="DELETE"/>
                        <input type="hidden" value="" id="selectedField"/>
                        <button type="button" class="btn btn-success" onclick="$('#showPopupModal').modal('hide')">Move Record</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </form>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}
