{% extends '::base.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $('#years_type_menu').highcharts({
                    chart: {
                        type: '{{ chatType }}'
                    },
                    title: {
                        text: '{{ levelchoice }} {{ licensetitle }} {{ title }} Distribution '
                    },
                    xAxis: {
                        categories: {{ departmentName|raw }}
                    },
                    yAxis: {
                        title: {
                            text: 'Nurses'
                        }
                    },
                    series: [{
                        name: 'Nurses',
                        data: {{ departmentData |raw }}
                    }]
                });
                {% if count <= 25 %}

                {% elseif count >25 %}
                $('#years_type_menu1').highcharts({
                    chart: {
                        type: '{{ chatType }}'
                    },
                    title: {
                        text: '{{ levelchoice }} {{ licensetitle }} {{ title }} Distribution '
                    },
                    xAxis: {
                        categories: {{ departmentName1|raw }}
                    },
                    yAxis: {
                        title: {
                            text: 'Nurses'
                        }
                    },
                    series: [{
                        name: 'Nurses',
                        data: {{ departmentData1 |raw }}
                    }]
                });
                {% elseif count >50 %}
                $('#years_type_menu2').highcharts({
                    chart: {
                        type: '{{ chatType }}'
                    },
                    title: {
                        text: '{{ levelchoice }} {{ licensetitle }} {{ title }} Distribution '
                    },
                    xAxis: {
                        categories: {{ departmentName2|raw }}
                    },
                    yAxis: {
                        title: {
                            text: 'Nurses'
                        }
                    },
                    series: [{
                        name: 'Nurses',
                        data: {{ departmentData2 |raw }}
                    }]
                });
                {% elseif count > 75 %}
                $('#years_type_menu3').highcharts({
                    chart: {
                        type: '{{ chatType }}'
                    },
                    title: {
                        text: '{{ levelchoice }} {{ licensetitle }} {{ title }} Distribution '
                    },
                    xAxis: {
                        categories: {{ departmentName3|raw }}
                    },
                    yAxis: {
                        title: {
                            text: 'Nurses'
                        }
                    },
                    series: [{
                        name: 'Nurses',
                        data: {{ departmentData3 |raw }}
                    }]
                });
                {% endif %}
                {#$('#years_type_menu1').highcharts({#}
                    {#chart: {#}
                        {#type: '{{ chatType }}'#}
                    {#},#}
                    {#title: {#}
                       {#text: '{{ levelchoice }} {{ licensetitle }} {{ title }} Nurses Distribution '#}
                    {#},#}
                    {#xAxis: {#}
                        {#categories: {{ departmentName1|raw }}#}
                    {#},#}
                    {#yAxis: {#}
                        {#title: {#}
                            {#text: 'Employee'#}
                        {#}#}
                    {#},#}
                    {#series: [{#}
                        {#name: 'Employee',#}
                        {#data: {{ departmentData1 |raw }}#}
                    {#}]#}
                {#});#}


            });
        </script>
    {%  endblock %}

{% block right_content -%}
    <div class="container">
        <h1 style="text-align: center"><small>  </small></h1>

            <div class="" id="years_type_menu" style="min-width: 400px; height: 400px; margin: 0 auto">

            </div>
        {% if count >25 %}
            <div class="" id="years_type_menu1" style="min-width: 400px; height: 400px; margin: 0 auto">

            </div>
        {% elseif count >50 %}
            <div class="" id="years_type_menu2" style="min-width: 400px; height: 400px; margin: 0 auto">

            </div>
        {% elseif count > 75 %}
            <div class="" id="years_type_menu3" style="min-width: 400px; height: 400px; margin: 0 auto">

            </div>
        {% endif %}
        <div style="text-align: right">
            <a class="btn" href="{{ path('report_nurse_distribution_download', {'levelchoice':levelchoice ,'forms':forms, 'regionString': regionString, 'title': title , 'carde': carde , 'licence': licence  }) }}">
                Export to Excel
            </a>
            <a class="btn" href="{{ path('distribution_nursing_download_records', {'levelchoice':levelchoice ,'forms':forms, 'regionString': regionString, 'title': title , 'carde': carde , 'licence': licence  }) }}">
                Export Records By Cadre
            </a>
        </div>
    </div>


{% endblock %}
