{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.training_list').dataTable( {
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[ -1], ["All"]]
            } );
        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}
{% block right_content -%}
    <div class="container">
        <h1><small>Trainings Lists</small></h1>
        <ul class="inline">
            <li>
                <a  href="{{ path("trainings_new") }}" class="btn btn-default">add training</a
            </li>
        </ul>

    <table class="table training_list table-striped table-bordered table-hover">
        <thead><th>#</th><th>Course Name</th><th>Training Category</th><th>Training Instruction</th><th>Curiculum</th><th>Action</th></thead>
        <tbody>
<?php $count = 0 ?>
        {% set incr=0 %}
        {% for training in trainings %}
            {% set incr = incr+1 %}
    <tr>
            <td>{{ incr }}</td>

            <td>{{ training.coursename }}</td>
                    <td>{{ training.trainingCategory }}</td>
                <td>{{ training.trainingInstruction }}</td>
                <td>{{ training.curiculum }}</td>
                <td>
                    <span class="btn-group">
                        <a href="{{ path("trainings_edit",{'id':training.id,'active':1} ) }}" class="" style="color:black;font-weight: bolder;" title="edit training"><i class="icon-edit icon-large"></i>&nbsp;<!--edit--></a>
                        <a data-toggle="modal" href="#deleteModalFor{{ training.uid }}" class="" ><i class="icon-remove-sign icon-large" title="Delete"></i>&nbsp;<!--edit--></a>
                    <div class="modal fade" id="deleteModalFor{{ training.uid }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title"><i class="icon-circle-remove icon-largest" title="Delete"></i>Deleting {{ training.coursename | capitalize }}</h4>
                                </div>
                                <div class="modal-body" >
                                    Are you sure you want to delete <strong>{{ training.coursename | capitalize }}</strong> that was created on {{ training.datecreated|date('d/m/Y') }}
                                    {% if training.lastUpdated %}
                                        and last updated on {{ training.lastUpdated|date('H:i:s d/m/Y') }} ??
                                    {% else %}
                                        and never updated ??
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <form action="{{ path('trainings_delete', { 'id': training.id }) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(delete_forms[training.id] ) }}
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                    </span>
                </td>

            </tr>
            <?php $count++; ?>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
