{% extends '::base.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $('#years_type_menu').highcharts({
                    chart: {
                        type: '{{ chatType }}'
                    },
                    title: {
                        text: 'Nurses Superlative Substantial Positions  {{ organisationUnit }} {{ withLowerLevels }}'
                    },
                    xAxis: {
                        categories: {{ departmentName|raw }}
                    },
                    yAxis: {
                        title: {
                            text: 'Nurses'
                        }
                    },
                    series: [{
                        name: 'Nurses',
                        data: {{ departmentData |raw }}
                    }]
                });



            });
        </script>
    {%  endblock %}

{% block right_content -%}
    <div class="container">
        <h1 style="text-align: center"><small> </small></h1>

            <div class="" id="years_type_menu" style="min-width: 400px; height: 400px; margin: 0 auto">

            </div>

        <div style="text-align: right">
            <a class="btn" href="{{ path('report_nurse_position_download', {'organisationUnit': organisationUnit.id, 'forms':forms, 'withLowerLevels': withLowerLevels,'licencetitle':'licensetitle' , 'title': title , 'startdate': startdate , 'enddate': enddate , 'carde': carde , 'licence': licence  }) }}">
                Export to Excel
            </a>
            <a class="btn" href="{{ path('position_nursing_download_records', {'organisationUnit': organisationUnit.id, 'forms':forms, 'withLowerLevels': withLowerLevels,'licencetitle':'licensetitle' , 'title': title , 'startdate': startdate , 'enddate': enddate , 'carde': carde , 'licence': licence  }) }}">
                Export Records By Cadre
            </a>
        </div>
    </div>


{% endblock %}
