{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.ZeroClipboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/jquery.dataTables.TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('commons/js/dt_settings.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.trainers').dataTable( {
                "sDom": "<'row'<'span6'TRl><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "oTableTools": {
                    "aButtons": [
                        {"sExtends":"copy","mColumns":"visible"},
                        {"sExtends":"xls","mColumns":"visible"},
                        {"sExtends":"pdf","mColumns":"visible"}
                    ],
                    "sSwfPath": "{{ asset('commons/swf/copy_cvs_xls_pdf.swf') }}"
                },
                "sPdfOrientation": "landscape",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "aLengthMenu": [[-1], ["All"]]
            } );


            //submit each form in a row
            $(".is_trainer").hide();
            $("table.trainers tbody tr").each(function(){

                $(this).find("td span button").click(function(){
                    var btn = $(this);
                    var trainer_id = $(this).parent().parent().find("input.trainer_id").val();
                    var instance_id = $(this).parent().parent().find("input.instance_id").val();
                    var url = "{{ path('trainer_add_to_event') }}";
                    $.ajax({
                        type:"POST",
                        url:url,
                        data: {"trainer_id":trainer_id,"instance_id":instance_id}
                    }).done(function (data) {

                           btn.hide();
                           btn.parent().parent().find(".is_trainer").show();

                    }).fail(function (jqXHR, textStatus) {

                    });
                });
            });


        } );
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('commons/css/dt_bootstrap.css') }}" />
{% endblock stylesheets %}
{% block right_content -%}
    {% set queryParams = app.request.query.all %}
    <div class="span12"><div class="span7"<h1> <h3><i class="icon-circle-info icon-largest" title="Show"></i>trainers Lists</h3></h1></div><div class="span5">
               <a  href="{{ path("trainers_new") }}" class="btn btn-default">add trainer</a>

</div>
    </div>
    <div class="span12">
    <table class="table trainers table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
        <th>Trainers Name</th>
        <th>Primary Job Responsibilty</th>
        <th>Secondary  Job Responsibilty</th>
        <th>Profession</th>
        <th>Employer</th>
        <th>Place Of Work</th>
        <th>Organization Type</th>
        <th>Trainer Type</th>
        <th>Trainer Language</th>
        <th>Experience</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
<?php $count = 0 ?>
{% set incr=0 %}
{% for trainer in trainers %}
    {% set incr = incr+1 %}
      {% if( queryParams['status'] is defined and queryParams['status'] =="view_owned" ) %}
          {% if queryParams['instance_id'] is defined %}
             {% if trainer.id in trainers_id %}
                 <tr>
                     <td>{{ incr }}</td>
                     <td>{{ trainer.firstname}} {{ trainer.middlename}} {{ trainer.lastname}}  </td>
                     <td>{{ trainer.primaryJobResponsibility }}</td>
                     <td>{{ trainer.secondaryJobResponsibility }}</td>
                     <td>{{ trainer.profession }}</td>
                     <td>{{ trainer.employer }}</td>
                     <td>{{ trainer.placeOfWork }}</td>
                     <td>{{ trainer.organisationType }}</td>
                     <td>{{ trainer.trainerType }}</td>
                     <td>{{ trainer.trainerLanguage }}</td>
                     <td>{{ trainer.experience }}</td>
                     <td>
                    </td>
                    </tr>
                {% else %}

                {% endif %}
          {% else %}
                {#<tr>#}
                    {#<td>{{ incr }}</td>#}
                    {#<td>{{ trainer.firstname}} {{ trainer.middlename}} {{ trainer.lastname}}  </td>#}
                    {#<td>{{ trainer.primaryJobResponsibility }}</td>#}
                    {#<td>{{ trainer.secondaryJobResponsibility }}</td>#}
                    {#<td>{{ trainer.profession }}</td>#}
                    {#<td>{{ trainer.employer }}</td>#}
                    {#<td>{{ trainer.placeOfWork }}</td>#}
                    {#<td>{{ trainer.organisationType }}</td>#}
                    {#<td>{{ trainer.trainerType }}</td>#}
                    {#<td>{{ trainer.trainerLanguage }}</td>#}
                    {#<td>{{ trainer.experience }}</td>#}
                    {#<td>#}
                        {#{% if queryParams['instance_id'] is defined %}#}
                            {#{% if trainer.id in trainers_id %}#}
                                {#<a class="btn btn-success btn-mini is_trainer" title="is a trainer"><i class="icon-ok"></i></a>#}
                            {#{% else %}#}
                                        {#<input type="hidden" value="{{ queryParams['instance_id'] }}" id="hris_trainingbundle_instancetrainer_instanceId" name="hris_trainingbundle_instancetrainer[instanceId]" class="form-control">#}
                                        {#<input type="hidden" value="{{ trainer.id }}" id="hris_trainingbundle_instancetrainer_trainerId" name="hris_trainingbundle_instancetrainer[trainerId]" class="form-control">#}
                                        {#<span class="btn-group"><button type="button" class="btn btn-mini btn-default" title="Add this trainer to session"><i class="icon-plus"></i></button></span>#}
                                {#<a class="btn btn-success btn-mini is_trainer" title="is a trainer"><i class="icon-ok">oks</i></a>#}


                            {#{% endif %}#}
                        {#{% else %}#}
                            {#<span class="btn-group"><a href="{{ path("trainers_edit",{'id':trainer.id,'active':1} ) }}" class="btn btn-mini btn-warning"><i class="icon-edit"></i>&nbsp;Edit</a></span>#}

                        {#{% endif %}#}
                    {#</td>#}

                {#</tr>#}
           {% endif %}
        {% else %}

        {#{% if( queryParams['status'] is null) %}#}
            {#<tr>#}
                {#<td>{{ incr }}</td>#}
                {#<td>{{ trainer.firstname}} {{ trainer.middlename}} {{ trainer.lastname}}  </td>#}
                {#<td>{{ trainer.primaryJobResponsibility }}</td>#}
                {#<td>{{ trainer.secondaryJobResponsibility }}</td>#}
                {#<td>{{ trainer.profession }}</td>#}
                {#<td>{{ trainer.employer }}</td>#}
                {#<td>{{ trainer.placeOfWork }}</td>#}
                {#<td>{{ trainer.organisationType }}</td>#}
                {#<td>{{ trainer.trainerType }}</td>#}
                {#<td>{{ trainer.trainerLanguage }}</td>#}
                {#<td>{{ trainer.experience }}</td>#}

                {#<td>#}
                    {#{% if queryParams['instance_id'] is defined %}#}
                        {#{% if trainer.id in trainers_id %}#}
                            {#<a  title="is a trainer"><i class="icon-ok"></i></a>#}
                            {#&#123;&#35;<span  title="remove trainer" class="btn btn-small"><i class="icon-remove"></i></span>&#35;&#125;#}
                        {#{% else %}#}
                            {#<input type="hidden" value="{{ queryParams['instance_id'] }}"  name="instance_id" class="form-control instance_id">#}
                            {#<input type="hidden" value="{{ trainer.id }}"  name="trainerId" class="form-control trainer_id">#}
                            {#<span class="btn-group"><button type="button" class="btn btn-mini btn-default" title="Add this trainer to session"><i class="icon-plus"></i></button></span>#}
                            {#<a class="is_trainer" title="is a trainer"><i class="icon-ok"></i></a>#}
                        {#{% endif %}#}
                    {#{% else %}#}
                        {#<span class="btn-group">DFG<a href="{{ path("trainers_edit",{'id':trainer.id,'active':1} ) }}" style="color:black;font-weight: bolder;" title="edit trainer"><i class="icon-edit icon-large"></i>&nbsp;<!--edit--></span>#}

                    {#{% endif %}#}
                {#</td>#}

            {#</tr>#}
        {% endif %}



        {% endfor %}
</tbody>
    </table>
    </div>

{% endblock %}
